/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2018, 3:31:11 AM
    Author     : kevinMC
*/

.rojo{
    background-color: #ff3333;
}
.verde{
    background-color: #00cc00;
}